@import 'http://fonts.googleapis.com/css?family=Titillium+Web:400,200';

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

html, body {
	overflow: hidden;
}
	body {
		font: 15px/25px "Titillium Web", Klavika, sans-serif;
		text-shadow: 0 2px 1px rgba(0,0,0,0.4);
		background: #567631;
		color: #fff;
	}

h1 {
	font-size: 40px;
	line-height: 48px;
	font-weight: 200;
}
h2 {
	font-size: 20px;
	font-weight: normal;
	
	opacity: .5;
	text-shadow: 0 1px 2px rgba(0,0,0,.8);
}

.left, .services {
	position: absolute;

	z-index: 2;
}
	.left {
		left: 50px;
		bottom: 33px;
	}
	.services {
		right: 50px;
		bottom: 50px;
	}
		.services li {
			float: right;
			list-style: none;
			
			padding-left: 20px;
		}
		.services .hidden {
			opacity: 0;
		}
		.services a {
			display: inline-block;
			min-width: 15px;
			opacity: .5;
		}
			.services a:hover {
				opacity: 1;
			}
		
.services a, #img {
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}

#img {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 1;
	opacity: 0;
	-webkit-user-select: none;
	pointer-events: none;
}
	#img.on {
		opacity: 1;
	}
